* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: proxima-nova, sans-serif;
}

body {
    width: 100%;
    background-color: #E0E0E0;
}

header {
    background-image: url("../images/beef-chilies-close-up-65175.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

footer {
text-align: center;
margin-top: 50px;
padding: 10px 0 10px 0;
background-color: #ff6a31;
color: white;
}

.topNav {
    overflow: hidden;
    padding-top: 15px;
}

.topNav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 30px;
}

.topNav a:hover {
  text-decoration: underline;
}

.topNav a.active {
  text-decoration: underline;
  font-weight: bold;
}

.topNavRight {
  float: right;
  padding-right: 10px;
}

.topNavLeft {
 padding-left: 100px;
}

.topNavLeft h1 {
    color: #ffc21a;
    font-size: 60px;
    font-weight: bold;
    float: left;
}

.topNavLeft p {
    color: white;
    font-size: 30px;
}

.topNavLeft img {
    height: 150px;
}

.headerLine {
    height: 5px;
    background-color: #ff6a31;
}

.wrapper {
    width : 80%;
    margin: 0 auto;
}

.indexWrapper {
    width: 100%;
    display: flex;
    flex-direction : row;
}

.indexMainNews {
    flex: 10;
    display: flex;
    flex-direction : column;
}

.indexSideBar {
    flex: 4;
    display: flex;
    flex-direction : column;
}

.news {
    background-color: #e6e6e6;
    margin: 50px 25px 0px 25px;
}

.news h2 {
    background-color: #ff6a31;
    padding: 10px 10px 10px 10px;
    color: white;
    font-style: italic;
    font-size: 24px;
}

.newsDate {
    padding: 10px 10px 10px 10px;
    color: #8d8887;
    font-weight: bold;
}

.news img {
    /* padding: 10px 10px 10px 10px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    max-width: 95%;
}

.newsText {
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    color: #242424;
}

.news a {
    padding: 10px 10px 10px 10px;
    color:  #8d8887;
    font-size: 20px;
}

.searchContainer {
    background-color: #e6e6e6;
    margin: 50px 0 0 0;
    float: right;
}

.searchContainer input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: 80%;
}

.searchContainer button {
  float: right;
  width: 10%;
  padding: 6px 10px;
  background: #e6e6e6;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.newsTopics {
    margin: 50px 0 0 0;
    background-color: #e6e6e6;
}

.newsTopics h2 {
    background-color: #242424;
    padding: 10px 10px 10px 10px;
    color: white;
    font-style: italic;
    font-size: 17px;
}

.newsTopics p {
    padding: 6px 10px;
}

.productSelection {
    flex: 4;
    display: flex;
    flex-direction : column;
}

.selection {
    margin: 50px 0 0 0;
    background-color: #e6e6e6;
}

.selection h2 {
    background-color: #242424;
    padding: 10px 10px 10px 10px;
    color: white;
    font-style: italic;
    font-size: 17px;
}

.selection form {
    padding: 10px 0 0 0;
}

.products {
    flex: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    width: 30%;
}

.product img {
    /* padding: 10px 10px 10px 10px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}
